@import "tailwindcss";
@theme {
  --color-sports-mid-blue-100: #007cb0;
  --color-sports-mid-blue-60: #66b0d0;
  --color-sports-mid-blue-40: #99cbdf;
  --color-sports-mid-blue-20: #cce5ef;
  --color-sports-mid-blue-10: #e5f2f7;
  --color-sports-green-100: #008b29;
  --color-sports-green-40: #99d1a9;
  --color-sports-green-20: #cce8d4;
  --color-sports-green-10: #e5f3ea;
  --color-sports-darker-yellow-100: #f09200;
  --color-sports-darker-yellow-40: #f9d399;
  --color-sports-darker-yellow-20: #fce9cc;
  --color-sports-darker-yellow-10: #fdf4e5;
  --color-sports-purple-100: #6d2077;
  --color-sports-purple-40: #c5a6c9;
  --color-sports-purple-20: #e2d2ef;
  --color-sports-purple-10: #f0e9f1;
  --color-sports-dark-blue-100: #012169;
  --color-sports-dark-blue-40: #99a6c3;
  --color-sports-dark-blue-20: #ccd3e1;
  --color-sports-dark-blue-10: #e6e9f0;
  --color-sports-dark-blue-hover: #001849;
  --color-sports-white-hover: #ccc;
  --color-sports-black-hover: #4c4c4c;
  --color-sports-yellow: #ffcc00;
  --color-sports-grey: #ececec;
  --font-heading: "poppins", sans-serif;
  --font-body: "inter-variable", sans-serif;
}

/* Set global fonts */
h1 {
  font-family: var(--font-heading);
  font-size: 3em;
  line-height: 130%;
  margin-bottom: 2rem;
}

h2 {
  font-family: var(--font-heading);
  font-size: 2.4em;
  line-height: 130%;
  margin-bottom: 2rem;
}

h3 {
  font-family: var(--font-heading);
  font-size: 2em;
  line-height: 130%;
  margin-bottom: 2rem;
}

h4 {
  font-family: var(--font-heading);
  font-size: 1.5em;
  line-height: 130%;
  margin-bottom: 2rem;
}
h5 {
  font-family: var(--font-heading);
  font-size: 1.25em;
  line-height: 130%;
  margin-bottom: 2rem;
}
h6 {
  font-family: var(--font-heading);
  font-size: 1em;
  line-height: 130%;
  margin-bottom: 2rem;
}

p,
span,
a,
ul,
ol {
  font-family: var(--font-body);
  font-size: 1em;
  line-height: 150%;
  margin-bottom: 1rem;
}

/* Set swiper colors */
:root {
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
}

/* Accordions */

.accordion {
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  align-items: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active {
  background-color: var(--color-sports-dark-blue-100);
  color: white;
}

.accordion-line {
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  text-align: left;
  border: unset;
  outline: none;
  transition: 0.4s;
  display: flex;
  align-items: center;
}

.accordion-line.active {
  background-color: transparent;
  color: inherit;
}

/* Style the accordion panel. Note: hidden by default */
.accordion-panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Swiper */
.swiper-slide {
}

.swiper-slide-content {
  height: 100%;
  padding: 50px;
}

/* Swiper buttons */
.swiper-button-next-event,
.swiper-button-prev-event,
.swiper-button-next-gallery,
.swiper-button-prev-gallery,
.swiper-button-next-membership,
.swiper-button-prev-membership {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev-event,
.swiper-button-prev-membership {
  left: 10px;
}

.swiper-button-next-event,
.swiper-button-next-membership {
  right: 10px;
}

/* Swiper gallery */

@media (min-width: 1536px) {
  .swiper-button-prev-gallery {
    left: calc(var(--swiper-navigation-size) * 4.25);
  }

  .swiper-button-next-gallery {
    right: calc(var(--swiper-navigation-size) * 4.25);
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .swiper-button-prev-gallery {
    left: calc(var(--swiper-navigation-size) * 3.5);
  }

  .swiper-button-next-gallery {
    right: calc(var(--swiper-navigation-size) * 3.5);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .swiper-button-prev-gallery {
    left: calc(var(--swiper-navigation-size) * 2.65);
  }

  .swiper-button-next-gallery {
    right: calc(var(--swiper-navigation-size) * 2.65);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .swiper-button-prev-gallery {
    left: calc(var(--swiper-navigation-size) * 1.75);
  }

  .swiper-button-next-gallery {
    right: calc(var(--swiper-navigation-size) * 1.75);
  }
}

@media (max-width: 767px) {
  .swiper-button-prev-gallery {
    left: 7.5vw;
  }

  .swiper-button-next-gallery {
    right: 7.5vw;
  }
}

.swiperGallery .swiper-slide-next,
.swiperGallery .swiper-slide-prev {
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.swiperGallery .swiper-slide-next .swiper-slide-content,
.swiperGallery .swiper-slide-prev .swiper-slide-content {
  height: 90%;
  width: 100%;
}

.swiperGallery .swiper-slide {
  height: auto;
}
